@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;800&display=swap");

$accentColor: #e50914;
$bgGray: #444444;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-family: "Roboto", sans-serif;
}

main {
	background-color: $bgGray;
}
